@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* inicio navbar */
.header {
  width: 100%;
  background: linear-gradient(90deg, rgb(25, 7, 61) 0, rgb(78, 12, 53) 95%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.header .logo {
  margin-right: auto;
}
.header .logo .logo-inicio {
  height: 70px;
  width: auto;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.8s;
}
.header .logo:hover {
  transform: scale(1.2);
}
.header #menu {
  display: none;
}
.header .menu {
  cursor: pointer;
  display: none;
}
.header .menu .menu-icono {
  width: 25px;
}
.header .navbar .menu1 {
  display: flex;
  gap: 3rem;
}
.header .navbar .menu1 .menu-link {
  color: rgb(214, 231, 113);
  transition: all 30ms;
  font-weight: 500;
  padding: 0 5px;
}
.header .navbar .menu1 .menu-link:hover {
  color: rgb(255, 255, 255);
}
.header .navbar .menu1 .vertical .desplegable {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 5px 0 5px;
  display: none;
}
.header .navbar .menu1 .vertical .desplegable li {
  margin-bottom: 10px;
}
.header .navbar .menu1 .vertical .desplegable li:hover {
  background-color: rgba(246, 248, 248, 0.411);
}
.header .navbar .menu1 .vertical .desplegable li a {
  padding: 5px;
  color: rgb(214, 231, 113);
}
.header .navbar .menu1 .vertical .desplegable li a:hover {
  color: white;
}
.header .navbar .menu1 .vertical:hover .desplegable {
  display: block;
}

/* fin navbar */
.ir-arriba {
  color: rgba(124, 16, 196, 0.623);
  background-color: rgba(255, 255, 255, 0.103);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1030;
  transition: all 0.3s;
  border-radius: 8px;
}
.ir-arriba:hover {
  transform: scale(1.3);
  background-color: rgb(214, 231, 113);
}

/* inicio de footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  background-color: black;
  color: white;
  margin-top: auto;
}
.footer .footer-1 p {
  margin: 5px 10px 80px 5px;
}
.footer .footer-2 .formulario-1 button {
  background-color: white;
  transition: all 300ms ease;
}
.footer .footer-2 .formulario-1 button:hover {
  background-color: rgb(194, 36, 110);
}
.footer .footer-3 ul li {
  margin: 10px 5px 5px 5px;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: rgb(194, 36, 110);
  transform: scale(1.5);
}

/* fin de footer */
/*index*/
.presentacion .party-title {
  text-align: center;
  font-size: 3rem;
  background-color: rgb(214, 231, 113);
  margin-bottom: 1rem;
}
.presentacion .card {
  border: 1px solid white;
  text-align: center;
}
.presentacion .card .card-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.presentacion .card .card-text {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: 600;
}

.boxs {
  display: flex;
}
.boxs .box-1 {
  background-color: rgb(43, 11, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxs .box-2 {
  background-color: rgb(125, 34, 133);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxs .box-3 {
  background-color: rgb(194, 36, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxs .box {
  flex: 1;
  padding: 1rem;
  color: white;
}
.boxs .box .box-icon {
  color: white;
  margin-bottom: 1rem;
}
.boxs .box .box-icon:hover {
  color: black;
}
.boxs .box .box-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.boxs .box .box-text {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

/*fin index*/
/* inicio contacto */
.info-form {
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
.info-form .descrip-form {
  width: 450px;
  margin: 5px;
  padding: 5px;
}
.info-form .descrip-form h2 {
  margin-bottom: 10px;
  font-size: 35px;
}
.info-form .descrip-form p {
  font-family: "Courier New", Courier, monospace;
  font-size: larger;
  line-height: 1.6;
  padding: 5px;
  margin-bottom: 30px;
  font-weight: 600;
}
.info-form .descrip-form a {
  font-size: 20px;
  display: block;
  margin: 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.info-form .descrip-form .dato1 {
  width: 150px;
  padding: 2px;
  margin: 2px;
}
.info-form .descrip-form .dato2 {
  width: 160px;
  padding: 2px;
  margin: 2px;
}
.info-form .descrip-form .dato3 {
  width: 240px;
  padding: 2px;
  margin: 2px;
}
.info-form .descrip-form .dato:hover {
  color: rgb(194, 36, 110);
}
.info-form .formulario-2 form input, .info-form .formulario-2 form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid rgb(194, 36, 110);
  margin-bottom: 15px;
}
.info-form .formulario-2 form .boton {
  padding: 10px;
  font-size: 20px;
  border: none;
  background: rgb(194, 36, 110);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
  margin-bottom: 15px;
}
.info-form .formulario-2 form .boton:hover {
  background: black;
}

.info-form a i {
  color: rgb(194, 36, 110);
  margin-right: 10px;
}

/*fin contacto */
/*inicio Salon */
.heros .salon {
  background: rgb(214, 231, 113);
  font-weight: 400px;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}
.heros .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}
.heros .galeria img {
  height: 300px;
  width: 100%;
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
.heros .light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
.heros .light-box img {
  width: 90vw;
  max-height: 70vh;
}
.heros .light-box:target {
  transform: scale(1);
}
.heros .light-box .close {
  display: block;
  position: absolute;
  top: 60px;
  right: 40px;
  background: black;
  color: white;
  text-decoration: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.heros .light-box .close:hover {
  transform: scale(1.5);
  color: red;
}
.heros .light-box .next {
  display: block;
  color: white;
  text-decoration: none;
}
.heros .light-box .next:hover {
  transform: scale(1.2);
  color: rgb(194, 36, 110);
}

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px black;
}

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.observation .reserva {
  padding: 15px;
  background: rgb(194, 36, 110);
  font-weight: 400;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
}
.observation .reserva .btn {
  text-align: center;
}

/*fin de Salon */
/*inicio de fotografias */
.fotografia {
  background: rgb(214, 231, 113);
  font-weight: 400px;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

.columna2 {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.columna2 a {
  width: 400px;
  position: relative;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
}
.columna2 a img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.columna2 a .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.671);
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.columna2 a .overlay h2 {
  text-align: center;
}
.columna2 a:hover .overlay {
  height: 40px;
  cursor: pointer;
}

/*fin de fotografias*/
/* inicio servicio */
.servicio .amigos {
  margin: 20px;
}
.servicio .amigos h2 {
  display: inline-block;
  position: relative;
  color: rgb(194, 36, 110);
  font-weight: 900;
  font-size: xx-large;
  margin: 40px;
}
.servicio .amigos h2::after {
  content: "";
  position: absolute;
  width: 900px;
  height: 2px;
  background-color: currentColor;
  top: 0.6em;
  right: -1020px;
  transform: scale(1);
  transition: all 0.2s ease-in;
}
.servicio .amigos h2:hover::after {
  transform: scale(0);
}
.servicio .amigos div {
  max-width: 1300px;
}
.servicio .amigos div h3 {
  padding: 10px;
  font-weight: 900;
  font-size: x-large;
}
.servicio .amigos div p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: larger;
  padding: 10px;
  color: rgb(194, 36, 110);
}
.servicio .tarjeta-amigos {
  margin: 20px;
}
.servicio .tarjeta-amigos h2 {
  display: inline-block;
  position: relative;
  color: rgb(194, 36, 110);
  font-weight: 900;
  font-size: xx-large;
  margin: 40px;
}
.servicio .tarjeta-amigos h2::after {
  content: "";
  position: absolute;
  width: 920px;
  height: 2px;
  background-color: currentColor;
  top: 0.6em;
  right: -1000px;
  transform: scale(1);
  transition: all 0.2s ease-in;
}
.servicio .tarjeta-amigos h2:hover::after {
  transform: scale(0);
}
.servicio .tarjeta-amigos .tarjeta-amigo {
  display: flex;
}
.servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo1, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo2, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo4, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo5, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo6 {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo1 h3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo2 h3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo3 h3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo4 h3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo5 h3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo6 h3 {
  padding: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  color: black;
  transition: all 0.2s ease;
}
.servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo1 h3:hover, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo2 h3:hover, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo3 h3:hover, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo4 h3:hover, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo5 h3:hover, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo6 h3:hover {
  color: rgb(214, 231, 113);
  transform: scale(1.2);
}
.servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo1 p, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo2 p, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo3 p, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo4 p, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo5 p, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo6 p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: larger;
  color: rgb(194, 36, 110);
}

/*fin de servicio */
@media screen and (max-width: 2300px) {
  .columna2 {
    width: 98%;
  }
  .columna2 a {
    width: 31%;
  }
  .servicio .amigos h2::after {
    width: 900px;
    right: -1040px;
  }
  .servicio .amigos .linea::after {
    width: 920px;
    right: -1000px;
  }
  .servicio .tarjeta-amigos h2::after {
    width: 920px;
    right: -1020px;
  }
}
@media screen and (max-width: 1320px) {
  .servicio .amigos h2::after {
    width: 500px;
    right: -640px;
  }
  .servicio .amigos .linea::after {
    width: 520px;
    right: -600px;
  }
  .servicio .tarjeta-amigos h2::after {
    width: 520px;
    right: -620px;
  }
}
@media screen and (max-width: 955px) {
  .servicio .amigos h2::after {
    width: 340px;
    right: -480px;
  }
  .servicio .amigos .linea::after {
    width: 370px;
    right: -440px;
  }
  .servicio .tarjeta-amigos h2::after {
    width: 360px;
    right: -455px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }
  .header .menu {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(25, 7, 61, 0.774) 0, rgba(78, 12, 53, 0.712) 95%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0%, 100% 0);
            clip-path: polygon(100% 0, 100% 0, 100% 0%, 100% 0);
    transition: -webkit-clip-path 0.8s ease-in-out;
    transition: clip-path 0.8s ease-in-out;
    transition: clip-path 0.8s ease-in-out, -webkit-clip-path 0.8s ease-in-out;
  }
  .header .navbar .menu1 {
    display: contents;
  }
  .header .navbar .menu1 .menu-item {
    width: 100%;
    text-align: right;
    transition: all 0.5s;
    margin-top: 10px;
  }
  .header .navbar .menu1 .menu-item:hover {
    background: rgba(0, 0, 0, 0.589);
  }
  .header .navbar .menu1 .menu-item .menu-link {
    font-size: x-large;
  }
  .header .navbar .menu1 .vertical .desplegable {
    position: sticky;
    width: 100%;
    padding: 10px;
    display: none;
    background-color: rgba(248, 245, 245, 0);
  }
  .header .navbar .menu1 .vertical .desplegable li a {
    font-size: x-large;
    color: rgb(214, 231, 113);
  }
  .header .navbar .menu1 .vertical .desplegable li a:hover {
    color: white;
  }
  .header .navbar .menu1 .vertical li:hover ul {
    display: block;
  }
  #menu:checked ~ .navbar {
    -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .boxs {
    flex-direction: column;
  }
  .boxs .box {
    margin-bottom: 5px;
  }
  .info-form {
    flex-direction: column;
  }
  .info-form .descrip-form {
    width: 100%;
    text-align: center;
  }
  .columna2 {
    width: 98%;
  }
  .columna2 a {
    width: 46%;
  }
  .servicio .amigos {
    justify-content: center;
  }
  .servicio .amigos h2::after {
    width: 250px;
    right: -280px;
  }
  .servicio .amigos .linea::after {
    width: 230px;
    right: -250px;
  }
  .servicio .tarjeta-amigos {
    justify-content: center;
  }
  .servicio .tarjeta-amigos h2::after {
    width: 240px;
    right: -260px;
  }
  .servicio .tarjeta-amigos .tarjeta-amigo {
    flex-direction: column;
  }
  .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo1, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo2, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo4, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo5, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo6 {
    width: auto;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    display: inline;
  }
  .footer .footer-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer .footer-1 p {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .footer-2 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .footer .footer-2 .formulario-1 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-2 .formulario-1 label {
    text-align: center;
  }
  .footer .footer-3 ul {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 570px) {
  .columna2 {
    width: 95%;
  }
  .columna2 a {
    width: 100%;
  }
  .servicio .amigos {
    justify-content: center;
  }
  .servicio .amigos h2::after {
    width: 100px;
    right: -130px;
  }
  .servicio .amigos .linea::after {
    width: 90px;
    right: -100px;
  }
  .servicio .tarjeta-amigos {
    justify-content: center;
  }
  .servicio .tarjeta-amigos h2::after {
    width: 90px;
    right: -110px;
  }
  .servicio .tarjeta-amigos .tarjeta-amigo {
    flex-direction: column;
  }
  .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo1, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo2, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo3, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo4, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo5, .servicio .tarjeta-amigos .tarjeta-amigo .tarjeta-amigo6 {
    width: auto;
  }
}/*# sourceMappingURL=estilo.css.map */