
/* medias */
@media screen and (max-width: 2300px){
    .columna2{
        width: 98%;
        a{
            width: 31%;
        }
    }
}

@media screen and (max-width: 786px){

    .header{
        padding: 20px;

        .menu{
            display: initial;
        }

        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: linear-gradient(
            90deg,
            rgba(25, 7, 61, 0.774) 0,
            rgba(78, 12, 53, 0.712)95%);
            clip-path: polygon(100% 0, 100% 0, 100% 0%, 100% 0);
            transition: clip-path .8s ease-in-out;

            .menu1{
                display: contents;

                .menu-item{
                    width: 100%;
                    text-align: right;
                    padding: 10px;
                    transition: all 0.5s;

                    &:hover{
                        background: rgba(0, 0, 0, 0.589);
                    }

                    .menu-link{
                        font-size:x-large;
                    }
                   
                }
            }
        }
    }

    #menu:checked ~.navbar {
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); 
        

    }

    .boxs{
        flex-direction: column;

        .box{
            margin-bottom: 5px;
        }
    }

    

    .info-form{
        flex-direction: column;

        .descrip-form{
            width: 100%;
            text-align: center;
        }
    }

    .columna2{
        width: 98%;
        a{
            width: 46%;
        }
    }

    .amigos{

        h2{
            &::after{
                width: 200px;
                right: -300px;
                
            }
        }
    }
    
    .tarjeta-amigos{
        h2{
            &::after{
                width: 220px;
                right: -280px;
                
                
            }
    
            
        }
    
        .tarjeta-amigo{
            flex-direction: column;
    
            .tarjeta-amigo1, .tarjeta-amigo2, .tarjeta-amigo3, .tarjeta-amigo4, .tarjeta-amigo5, .tarjeta-amigo6{
                width: auto;
    
            }
        }
    }
   
}

@media screen and (max-width: 570px){
    .columna2{
        width: 95%;
        a{
            width: 100%;
        }
    }

    .amigos{
        justify-content: center;
        h2{
            &::after{
                width: 100px;
                right: -130px;
                
            }
        }
    }
    
    .tarjeta-amigos{
        justify-content: center;
        h2{
            &::after{
                width: 90px;
                right: -110px;
            }
    
            
        }
    
        .tarjeta-amigo{
            flex-direction: column;
    
            .tarjeta-amigo1, .tarjeta-amigo2, .tarjeta-amigo3, .tarjeta-amigo4, .tarjeta-amigo5, .tarjeta-amigo6{
                width: auto;
    
            }
        }
    }
}