/* media */
@media screen and (max-width: 2300px){
    .columna2{
        width: 98%;
        a{
            width: 31%;
        }
    }
    
    .servicio{
        .amigos{

            h2{
                &::after{
                    width: 900px;
                    right: -1040px;
                }
            }
            .linea{
                &::after{
                    width: 920px;
                    right: -1000px;
                }
            }
        }
        
        .tarjeta-amigos{
            h2{
                &::after{
                    width: 920px;
                    right: -1020px;
                    
                    
                }
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .servicio{
        .amigos{

            h2{
                &::after{
                    width: 500px;
                    right: -640px;
                }
            }
            .linea{
                &::after{
                    width: 520px;
                    right: -600px;
                }
            }
        }
        
        .tarjeta-amigos{
            h2{
                &::after{
                    width: 520px;
                    right: -620px;
                    
                    
                }
            }
        }
    }
}

@media screen and (max-width: 955px) {
    .servicio{
        .amigos{

            h2{
                &::after{
                    width: 340px;
                    right: -480px;
                    
                }
            }
            .linea{
                &::after{
                    width: 370px;
                    right: -440px;
                }
            }
        }
        
        .tarjeta-amigos{
            h2{
                &::after{
                    width: 360px;
                    right: -455px;
                    
                    
                }
            }
        }
    }
}

@media screen and (max-width: 768px){

    .header{
        padding: 20px;

        .menu{
            display: initial;
        }

        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: linear-gradient(
            90deg,
            rgba(25, 7, 61, 0.774) 0,
            rgba(78, 12, 53, 0.712)95%);
            clip-path: polygon(100% 0, 100% 0, 100% 0%, 100% 0);
            transition: clip-path .8s ease-in-out;

            .menu1{
                display: contents;

                .menu-item{
                    width: 100%;
                    text-align: right;
                    transition: all 0.5s;
                    margin-top: 10px;

                    &:hover{
                        background: rgba(0, 0, 0, 0.589);
                    }

                    .menu-link{
                        font-size:x-large;
                    }
                   
                }
                .vertical{
                    .desplegable{
                        position: sticky;
                        width: 100%;
                        padding: 10px;
                        display: none;
                        background-color: rgba(248, 245, 245, 0);
                        
                        
                        li{
                            
                            a{
                                font-size: x-large;
                                color: rgb(214, 231, 113);
                                &:hover{
                                    color: white;
                                }
                            }
                            
                            
                        }
                        
                    }
                    li:hover ul{
                        display: block;
                    }
                }
            }
        }
    }

    #menu:checked ~.navbar {
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); 
        

    }

    .boxs{
        flex-direction: column;

        .box{
            margin-bottom: 5px;
        }
    }

    

    .info-form{
        flex-direction: column;

        .descrip-form{
            width: 100%;
            text-align: center;
        }
    }

    .columna2{
        width: 98%;
        a{
            width: 46%;
        }
    }

    .servicio{
        .amigos{
            justify-content: center;
            h2{
                &::after{
                    width: 250px;
                    right: -280px;
                }
            }
            .linea{
                &::after{
                    width: 230px;
                    right: -250px;
                }
            }
        }
        
        .tarjeta-amigos{
            justify-content: center;
            h2{
                &::after{
                    width: 240px;
                    right: -260px;
                }
            }
        
            .tarjeta-amigo{
                flex-direction: column;
        
                .tarjeta-amigo1, .tarjeta-amigo2, .tarjeta-amigo3, .tarjeta-amigo4, .tarjeta-amigo5, .tarjeta-amigo6{
                    width: auto;
                }
            }
        }
    }
   
}

@media screen and (max-width: 640px){
    .footer{
        display: inline;
        .footer-1{
            width: 100%;
            display: flex;
            justify-content: space-around;
            p{
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .footer-2{
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            .formulario-1{
                max-width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                label{
                    text-align: center;
                }
            }
        }

        .footer-3{
            ul{
                display: flex;
                justify-content: space-around;
            }
        }
    }
}

@media screen and (max-width: 570px){
    .columna2{
        width: 95%;
        a{
            width: 100%;
        }
    }

    .servicio{
        .amigos{
            justify-content: center;
            h2{
                &::after{
                    width: 100px;
                    right: -130px;
                }
            }
            .linea{
                &::after{
                    width: 90px;
                    right: -100px;
                }
            }
        }
        
        .tarjeta-amigos{
            justify-content: center;
            h2{
                &::after{
                    width: 90px;
                    right: -110px;
                }
            }
        
            .tarjeta-amigo{
                flex-direction: column;
        
                .tarjeta-amigo1, .tarjeta-amigo2, .tarjeta-amigo3, .tarjeta-amigo4, .tarjeta-amigo5, .tarjeta-amigo6{
                    width: auto;
                }
            }
        }
    }
}
@media screen and (max-width: 420px){
    .servicio{
        .amigos{
            justify-content: center;
            h2{
                &::after{
                    width: 0;
                    right: 0;
                }
            }
            .linea{
                &::after{
                    width: 0;
                    right: 0;
                }
            }
        }
        
        .tarjeta-amigos{
            justify-content: center;
            h2{
                &::after{
                    width: 0;
                    right: 0;
                }
            }
        }
    }
}